.play-btn {
    align-items: center;
    justify-content: center;
    width: 150px; 
    height: 38px; 
    border-radius: 19px;
    background: #13b6bf; 
    z-index: 0;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.5s;
    text-transform: uppercase;
    color: white;
    box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.28), inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    display: none;

    @include media-tablet {
        order: 1;
        width: 100%;
        margin-top: 20px;    
    }
}

.flex {
    display: flex;
}

.repeat {
    background: #4978c7;
}